.ui-widget-content .icon-exam {
    background-image: url("../images/cicon.png") !important;
    height: 16px;
    width: 16px;
}

.ui-widget-content .icon-modul {
    background-image: url("../images/cicon.png") !important;
    height: 16px;
    width: 16px;
}
